<div class="p-grid">
  <div class="col-12 p-m-5">
    <p-card class="card p-fluid p-mt-3" pStyleClass="form-card text-black p-justify-start p-align-items-start"
            header="Choose :)" [style]="{'background-color': 'rgba(255, 255, 255, 0.5)'}">
      <form (ngSubmit)="submitMainForm()">
        <!-- Поле X -->
        <div class="field p-md:col-6 p-mb-3">
          <label for="xLabel">X: </label>
          <input
            type="text"
            pInputText
            [(ngModel)]="xValue"
            name="x"
            id="xLabel"
            class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid p-filled"
          />
          <p-knob
            [(ngModel)]="xValue"
            name="xKnob"
            valueTemplate="{value}"
            [min]="-4"
            [max]="4"
          ></p-knob>
        </div>

        <!-- Поле Y -->
        <div class="field p-md:col-6 p-mb-3">
          <label for="yLabel">Y: </label>
          <input
            type="text"
            pInputText
            [(ngModel)]="yValue"
            name="y"
            id="yLabel"
            [ngModelOptions]="{standalone: true}"
            class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid p-filled"
          />
          <p-slider
            [(ngModel)]="yValue"
            name="ySlider"
            [min]="-3"
            [max]="5"
            [ngModelOptions]="{standalone: true}"
            class="p-element ng-untouched ng-valid ng-dirty"
          />
        </div>

        <!-- Поле R -->
        <div class="field p-md:col-6 p-mb-3">
          <label for="rLabel">R: </label>
          <input
            type="text"
            pInputText
            [(ngModel)]="rValue"
            name="r"
            id="rLabel"
            class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid p-filled"
          />
          <p-knob
            [(ngModel)]="rValue"
            (ngModelChange)="onRChange($event)"
            name="rKnob"
            valueTemplate="{{ rValue.toFixed(1) }}"
            [min]="0"
            [max]="4"
            [step]="0.1"
          ></p-knob>
        </div>

        <!-- Кнопка отправки -->
        <p-button
          pButton
          type="submit"
          label="Send"
          [disabled]="false"
          [loading]="loading"
          class="p-button-lg p-d-block"
        ></p-button>
      </form>
    </p-card>
  </div>
</div>
