<section class="vh-100 bg-login">
  <div class="p-grid p-justify-start p-align-items-start p-col-8">
    <!-- Карточка PrimeNG -->
    <p-card styleClass="bg-login-window text-white p-justify-start p-align-items-start" header="Login" [style]="{'border-radius': '1rem'}">
      <form (ngSubmit)="submitLogin()" [formGroup]="loginForm">
        <!-- Поле ввода Login -->
        <div class="p-field p-mb-4">
          <label for="login">Login</label>
          <input pInputText id="login" formControlName="login" class="p-inputtext p-component p-d-block" placeholder="Type your login" />
          <div>
            <small *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched" class="p-error">
              Login is required!
            </small>
          </div>
        </div>

        <!-- Поле ввода Password -->
        <div class="p-field">
          <label for="password">Password</label>
          <input pInputText id="password" type="password" formControlName="password" class="p-inputtext p-component p-d-block" placeholder="Type your password"/>
          <div>
            <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">Min 8 characters, 1 letter, 1 number!
            </small>
          </div>
        </div>

        <!-- Кнопка Login -->
        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid" class="p-button-outlined p-button-lg p-d-block"></button>
      </form>
      <div class="p-mt-4">
        <p>Don't have an account?
          <a routerLink="../registration" class="text-white-50 fw-bold">Sign Up</a>
        </p>
      </div>
    </p-card>
  </div>
</section>
