/* You can add global styles to this file, and also import other style files */

/* Importing primeng CSS file. */
@import "primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "primeicons/primeicons.css";

.text-info:hover {
  background: rgb(61, 17, 1);
}

.text-info:active {
  background: rgb(96, 37, 8);
  transform: scale(0.95);
}

.active {
  background: rgb(68, 22, 2);
}

.bg-login{
  background-image: url('../public/bg-login.png');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.bg-main{
  background-image: url('../public/bg-main.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.bg-login-window{
  background-color: rgb(61, 17, 1);
}

html, body {
  height: 100%;
  margin: 0;
}

section.vh-100 {
  min-height: 100vh; /* Обеспечивает, что высота секции равна высоте окна */
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
}


.p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(194, 152, 216, 0.04);
  color: #ffffff !important;
  border: 1px solid;
}


.p-button:not(:disabled):hover {
  background: rgba(128, 0, 0);
  color: #ffffff;
  border-color: rgba(128, 0, 0);
}


.p-button{
  color: #ffffff !important;
}

//@layer primeng {
//  .p-slider .p-slider-handle {
//    background: maroon !important;
//    border: 2px solid maroon !important;
//  }
//  .p-slider .p-slider-range {
//    background: maroon !important;
//  }
//  .p-slider:not(.p-disabled) .p-slider-handle:hover {
//    background: #3d1101 !important;
//    border-color: #3d1101 !important;
//  }
//}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: auto;
  min-width: 500px;
  min-height: 300px;
}

///* Изменение цвета текущего значения (положения индикатора) */
//::ng-deep .p-knob-value {
//  color: maroon !important; /* Здесь можно указать нужный цвет, например, LimeGreen */
//}
//
//::ng-deep .p-knob-range {
//  color: maroon !important; /* Здесь можно указать нужный цвет, например, Tomato */
//}

.form-card{
  background-color: rgba(128, 0, 0, 0.5);
}

.text-black {
  color: black;
}
.text-white {
  color: white;
}

.a-sing-up{
  color: white;
}


///* Мобильный режим */
@media (max-width: 668px) {
  body {
    overflow-x: hidden;
  }
}

///* Планшетный режим */
//@media (min-width: 668px) and (max-width: 1076px) {
//  .tablet-only {
//    display: block;
//  }
//  .mobile-only, .desktop-only {
//    display: none;
//  }
//}
//
///* Десктопный режим */
//@media (min-width: 1077px) {
//  .desktop-only {
//    display: block;
//  }
//  .mobile-only, .tablet-only {
//    display: none;
//  }
//}
